#page1{

    background:url( https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg);
    background-position:center center;
    background-attachment: fixed;
    background-size: 100% 100%;
    color:#fff;
    text-align: center;
    font-family: Lobster, serif;

}
#error{
    
    background-color: red;
    width:50%;
    margin: 20px auto;
    font-size: 20px;
}
/*read word*/
#result{
    font-size: 50px;
    background-color: rgba(255,255,255,0.2);
    padding: 5% 0;
}
/* Hide the number input*/
.full-width-slider input{
    display:none !important;
}
.full-width-slider .ui-slider-track{
    margin-left:15px,
}
 